.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 body {
    line-height: 1.6;
    font-family: 'Balsamiq Sans', cursive;
    background: url('https://www.bwr-media.de/lp/bilder/anzeigen/4685.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
   
    
 }

 
 h1 {
  margin-bottom: 2rem;
 }

 .choice {
  cursor: pointer;
}

.choice:hover {
  color: #5C729B;
}

 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #fff;
  text-align: center;
  margin: 10% auto;
  width: 350px;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-content h1 {
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

  .btn-grad {background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
  color: white}
.btn-grad:hover { background-position: right center; }

.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

footer {
  position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
  background-color: #fff;
}

.headline {
  color:#C5D5E4;
}